<div class="container">
  <div class="row">
    <section class="col-4">
      <h2>Create New Post</h2>
      <form class="new-post-form">
        <div>
          <label class="form-label" for="post-title">Title</label>
          <input class="form-control" type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label class="form-label" for="post-text">Post</label>
          <input class="form-control" id="post-text" name="post-text" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
      </form>
    </section>

    {{#if posts.length}}
    <section class="col-7">
      <h2>Your Posts</h2>
      <ul>
        {{#each posts as |post|}}
        <li class="card">
          <p class="card-header"> {{post.title}} | {{vote_count}} {{format_plural "point" vote_count}} by
            {{user.username}} on {{format_date created_at}}</p>
          <p class="card-body">{{post.post_text}}</p>
          <a href="/dashboard/edit/{{post.id}}" class="edit-post card-footer">Edit post</a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </div>
</div>

<script src="/javascript/add-post.js"></script>